name: flutter_guidelines
description: A new Flutter project.

publish_to: "none"

version: 0.0.1+1

environment:
  sdk: ^3.10.0
  flutter: ^3.38.0

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  customizable_cupertino_dialog:
    path: packages/customizable_cupertino_dialog

  #splash screen
  flutter_native_splash: ^2.4.7

  #softonix core packages
  stx_bloc_base: ^0.6.1
  stx_flutter_form_bloc: ^3.0.0

  #state management
  provider: ^6.1.5+1
  flutter_bloc: ^9.1.1

  #dependency injection
  get_it: ^9.2.0
  injectable: ^2.7.1+4

  #routing
  auto_route: ^11.1.0

  #http
  dio: ^5.9.1
  fresh_dio: ^0.4.5
  dio_smart_retry: ^7.0.1

  #code generator for unions/pattern-matching/copy.
  freezed_annotation: ^3.1.0
  json_annotation: ^4.10.0

  #easy_localization and generator
  easy_localization: ^3.0.8
  stx_easy_localization_generator: ^1.0.1

  #local storage
  shared_preferences: ^2.5.4
  flutter_secure_storage: ^10.0.0

  #icons
  font_awesome_flutter: ^10.12.0
  cupertino_icons: ^1.0.8

  #widgets
  bouncing_widget: ^2.0.0
  tab_indicator_styler: ^2.0.0
  extended_nested_scroll_view: ^6.2.1

  #others
  darq: ^2.1.0
  collection: ^1.19.1
  upgrader: ^12.5.0

dependency_overrides: 
  test: ^1.26.3
  analyzer: ^9.0.0

dev_dependencies:
  #testing
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  patrol: ^4.1.0
  patrol_finders: ^3.0.0
  mocktail: ^1.0.4
  bloc_test: ^10.0.0

  #builders
  build_runner: ^2.10.5
  flutter_gen_runner: ^5.12.0
  auto_route_generator: ^10.4.0
  injectable_generator: ^2.12.0
  json_serializable: ^6.11.1
  freezed: ^3.2.5

  #lints
  flutter_lints: ^6.0.0
  very_good_analysis: ^10.1.0

  #others
  import_sorter: ^4.6.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - resources/langs/
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-Italic.ttf
          style: italic

flutter_gen:
  output: lib/theme/
  line_length: 80

  integrations:
    flutter_svg: true
    lottie: true
    rive: true

  assets:
    enabled: true
    outputs:
      package_parameter_enabled: false

  fonts:
    enabled: true

  colors:
    enabled: true
    inputs:
      - assets/colors/colors.xml

import_sorter:
  comments: false
  ignored_files:
    - \.g\.dart$
    - \.config\.dart$
    - \.freezed\.dart$
    - \.gen\.dart$
    - \.gr\.dart$
    - \.mocks\.dart$

flutter_native_splash:
  web: false
  color: "#000000"
  color_dark: "#FFFFFF"
  image: assets/images/config/splash.png
  branding: assets/images/config/branding.png
  branding_mode: bottom
  branding_bottom_padding: 40
  android_12:
    color: "#000000"
    color_dark: "#FFFFFF"
    image: assets/images/config/splash.png
    branding: assets/images/config/branding.png

flutter_launcher_icons:
  ios: true
  android: true
  remove_alpha_ios: true
  image_path: "assets/images/config/app-icon.png"
  adaptive_icon_background: "#000000"
  adaptive_icon_foreground: "assets/images/config/app-icon.png"

patrol:
  app_name: FlutterGuidelines
  android:
    package_name: com.example.flutter_guidelines
  ios:
    bundle_id: com.example.flutter_guidelines
